<header className="bg-red-500 text-white p-4 shadow-md">
  <nav className="container mx-auto flex justify-between items-center">
    <ul className="flex space-x-4">
      <li>
        <a
          href="/"
          className="<%= currentPage === 'index' ? 'bg-red-400' : 'hover:bg-red-400' %> py-2 px-4 rounded transition duration-300"
          >airbnb</a
        >
      </li>

      <% if(isLoggedIn){ %> <% if(user && user.userType === 'guest'){ %>
      <li>
        <a
          href="/homes"
          className="<%= currentPage === 'Home' ? 'bg-red-400' : 'hover:bg-red-400' %> py-2 px-4 rounded transition duration-300"
          >Homes-List</a
        >
      </li>
      <li>
        <a
          href="/favourites"
          className="<%= currentPage === 'favourites' ? 'bg-red-400' : 'hover:bg-red-400' %> py-2 px-4 rounded transition duration-300"
          >Favourites</a
        >
      </li>
      <li>
        <a
          href="/bookings"
          className="<%= currentPage === 'bookings' ? 'bg-red-400' : 'hover:bg-red-400' %> py-2 px-4 rounded transition duration-300"
          >Bookings</a
        >
      </li>
      <% } else { %>

      <li>
        <a
          href="/host/host-home-list"
          className="<%= currentPage === 'host-homes' ? 'bg-red-400' : 'hover:bg-red-400' %> py-2 px-4 rounded transition duration-300"
          >Host Homes</a
        >
      </li>
      <li>
        <a
          href="/host/add-home"
          className="<%= currentPage === 'addHome' ? 'bg-red-400' : 'hover:bg-red-400' %> py-2 px-4 rounded transition duration-300"
          >Add Home</a
        >
      </li>
      <% } %> <% } %> <% if(!isLoggedIn) {%>
      <li>
        <a
          href="/Signup"
          className="<%= currentPage === 'Signup' ? 'bg-red-400' : 'hover:bg-red-400' %> py-2 px-4 rounded transition duration-300"
          >Sign-up</a
        >
      </li>
      <li>
        <a
          href="/login"
          className="<%= currentPage === 'login' ? 'bg-red-400' : 'hover:bg-red-400' %> py-2 px-4 rounded transition duration-300"
          >login</a
        >
      </li>
      <% } else{ %>
      <li>
        <form action="/logout" method="post">
          <button
            type="submit"
            className="hover:bg-red-400 py-2 px-4 rounded transition duration-300"
          >
            Logout
          </button>
        </form>
      </li>
      <% } %>
    </ul>
  </nav>
</header>
